backend:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
chunksCache:
  allocatedMemory: 256
compactor:
  replicas: 0
deploymentMode: SingleBinary
distributor:
  replicas: 0
indexGateway:
  replicas: 0
ingester:
  replicas: 0
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  compactor:
    delete_request_store: s3
    retention_delete_delay: 2m
    retention_enabled: true
  limits_config:
    allow_structured_metadata: true
    retention_period: 48h
    volume_enabled: true
  pattern_ingester:
    enabled: true
  retention_deletes_enabled: true
  retention_period: 48h
  ruler:
    enable_api: true
  schemaConfig:
    configs:
    - from: "2024-04-01"
      index:
        period: 24h
        prefix: loki_index_
      object_store: s3
      schema: v13
      store: tsdb
minio:
  enabled: true
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
read:
  replicas: 0
singleBinary:
  replicas: 1
write:
  replicas: 0
